<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<h2>User Login</h2>

<form th:action="@{/login}" th:object="${user}" method="post">

    <label>Email:</label>
    <input type="email" th:field="*{email}" />
    <br><br>

    <label>Password:</label>
    <input type="password" th:field="*{password}" />
    <br><br>

    <p th:text="${error}" style="color:red"></p>

    <button type="submit">Login</button>

</form>

<br>
<a th:href="@{/register}">New User? Register</a>

</body>
</html>